@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Manjari&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body {
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
ul{
  padding-left: 0.5rem;
}
ul li{
  list-style: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1{
  margin: 0;
}
button{
  cursor: pointer;
}
html{
  background: #0d0d0d;
  margin: 0 !important;
  overflow-x: hidden;

}

/*Header styles */


.header-top{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 5px;
}
.header-topp.x{
  background:#ff7465;
}
.header-topp.y{
  background:#509cff;
}
.header-topp.z{
  background:#ffc165;
}
.header-topp.zz{
  background:#65ffa0;
}
.header{
  color: white;
  width: 51%;
  margin: 0 auto;
  min-height: 150px;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  font-family: 'Poppins', sans-serif;
}

.header-header{
  font-family: 'Poppins', sans-serif;
  color: white;
  box-shadow: 1px 5px 15px black;
  font-size: 0.6rem;
  display: grid;
  grid-template-columns: 1fr;
}

.header-mid{
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 80%;
  margin: 0 auto;
  align-items: center;
}

a{
  color: white;
  text-decoration: none;
  margin-right: 1.1%;
  transition: 0.09s ease;
  -webkit-transition: 0.09s ease;
  -moz-transition: 0.09s ease;
  -ms-transition: 0.09s ease;
  -o-transition: 0.09s ease;
  box-sizing: border-box;
  padding-bottom: 0.15rem;
}
#leaderboards-button.active-link,
#play-button.active-link{
  border-bottom: 2px #509cff solid;
  color: #509cff;
  font-size: 1.2rem;
}

a:hover{
  color: #509cff;
}


.user-navbar{
  color: white;
  align-self: center;
  font-size: 0.9rem;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
}

/*End header styles */

.circles-container{
  border: 5px #65ffa0 solid;
  border-color: #ff7465 #509cff #ffc165 #65ffa0;
  box-shadow: -10px 15px 15px black ;
  background: #0d0d0d;
  width: 50%;
  height: 600px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  animation: border-switch 5s infinite ease-in;
  -webkit-animation: border-switch 5s infinite ease-in;
}

@keyframes border-switch{
  0%{
    border-color: #ff7465 #509cff #ffc165 #65ffa0;
  }
  25%{
    border-color: #65ffa0 #ff7465 #509cff #ffc165;
  }
  50%{
    border-color: #ffc165 #65ffa0 #ff7465 #509cff; 
  }
  75%{
    border-color: #509cff #ffc165 #65ffa0 #ff7465 ; 
  }
  100%{
    border-color: #ff7465 #509cff #ffc165 #65ffa0;
  }
}

.circle{
  background: black;
  border:none;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition: 0.1s ease;
  -webkit-transition: 0.1s ease;
  -moz-transition: 0.1s ease;
  -ms-transition: 0.1s ease;
  -o-transition: 0.1s ease;
}

.circle:active{
  height: 80px;
  width: 80px;
}

button:focus{
  outline: none;
}

.red{
  background: url('./images/red-circle.png');
  background-size: 100%;


}
.yellow{
  background: url('./images/yellow-circle.png');
  background-size: 100%;
}
.blue{
  background: url('./images/blue-circle.png');
  background-size: 100%;

}
.green{
  background: url('./images/green-circle.png');
  background-size: 100%;
}

#animate{
  animation: grow .2s 20 ease-in;
  transform: scale(1);
  animation-play-state: paused  ;
  -webkit-animation: grow .2s 20 ease-in;
}

@keyframes grow{
  0%{
    transform:scale(1);
  }
  50%{
    transform:scale(1.3);
  }
  100%{
    transform:scale(1);
  }
}
.mid-text, .start-button{
  font-family: 'manjari', sans-serif;
  font-size: 2.2rem;
  grid-row: 2/3;
  grid-column: 1/3;
  color: white;
  transition: 0.2s ease-in;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -ms-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  animation: fliptext 1s ease-in;
  -webkit-animation: fliptext 1s 1 ease-in;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}
.start-button{
  color: white;
  font-family: 'Big Shoulders Text', cursive;
  background: transparent;
  border: 3px white solid;
  border-width: 2px 2px 5px 5px;
  cursor: pointer;
  border-radius: 11px;
  height: 75px;
  padding: 1rem 0.5rem 1rem 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  animation: none;
  -webkit-animation: none;
  box-shadow: -5px 5px 15px black;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
}
@keyframes fliptext {
  from{
    transform: rotateY(-180deg)  ;
    -webkit-transform: rotateY(-180deg)  ;
    -moz-transform: rotateY(-180deg)  ;
    -ms-transform: rotateY(-180deg)  ;
    -o-transform: rotateY(-180deg)  ;
}
  to{
    transform: rotateY(0deg)  ;
    -webkit-transform: rotateY(0deg)  ;
    -moz-transform: rotateY(0deg)  ;
    -ms-transform: rotateY(0deg)  ;
    -o-transform: rotateY(0deg)  ;
}
}
/*header game-playing styles */
.header.game-playing{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 2rem;
  width: 50%;
  margin-bottom: 0.5%;
  font-family: 'Raleway', sans-serif;
}
.header-level{
  align-self: end;
  justify-self: center;
}
.header-difficulty{
  align-self: end;
  justify-self: center;
}

#countdown{
  animation: countdown 3.5s ease-in;
  -webkit-animation: countdown 3.5s ease-in;
}
@keyframes countdown{
  0%{
    font-size: 5rem;
  }
  50%{
    font-size: 4rem;
  }
  100%{
    font-size: 3rem;
  }
}
/*header game-playing styles */

/*Modal Styles*/

.modal{
  background: #0d0d0d;
  border-radius: 8px;
  border: 2px #65ffa0 solid;
  box-shadow: -5px 3px 2px #65ffa0;
  color: white;
  height: 350px;
  width: 300px;
  position: fixed;
  left: 50%;
  top: 32%;
  margin-left: -150px;
  display: grid;
  grid-template-columns: 1fr;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  z-index: 15;
}
select{
  outline: none;
  background: none;
  font-family: 'Manjari', sans-serif;
  color: white;
  border: none;
  font-size: 1rem;
  border-bottom: 1px white solid;
}
select option{
  color: black;
  font-weight: bold;
}
.modal-header{
  font-family: 'Manjari', sans-serif;
  padding: 1rem 0 0 1rem;
  font-size: 1.3rem;
}
.modal-content{
  text-align: center;
  font-family: 'Manjari', sans-serif;
}
.modal-buttons{
  display: grid;
  justify-content: stretch;
  width: 100%;

}
.modal button{
  background: none;
  border: none;
  color: black;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
  background: #65ffa0;
  transition: 0.1s ease-in;
  -webkit-transition: 0.1s ease-in;
  -moz-transition: 0.1s ease-in;
  -ms-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
}

.modal.after-round.incorrect{
  box-shadow: -5px 3px 2px #ff4c4c;
  border-color: #ff4c4c;
}
.modal.after-round.incorrect button{
  background: #ff4c4c;
}

.hiscores{
  margin-top: 5%;
}
.hiscores input{
  font-family: 'Raleway', sans-serif;
  border-radius: 3px;
  margin: 0 auto;
  height: 30px;
  margin-top: 5%;
  margin-bottom: 2%;
  width: 80%;
  border: none;
  background: #1a1a1a;
  color: white;
  display: block;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  outline: none;
}

.hiscores input::placeholder{
  font-family: 'Raleway', sans-serif;
  color: white;
}

.hiscores input:focus{
  font-family: 'Raleway', sans-serif;
  background: white;
  color: black;
}

.hiscores button{
  font-size: 1rem;
  background: #65ffa0 !important;
  width: 80%;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

#easy{
  color: #65ffa0;
}

#medium{
  color: #ffc165;
}

#hard{
  color: #ff7465;
}
/*End Modal Styles*/

/*Leaderboards styles*/
.leaderboards-container{
  width: 51%;
  margin: 0 auto;
  margin-top: 2%;
}

.leaderboards-container h1{
  color: white;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 5%;
  font-size: 2.3rem;
  letter-spacing: 1px;
}
.leaderboards-buttons-container{
  border-bottom: 2px #65ffa0 solid;
}
.leaderboards-buttons-container button{
  padding: 1rem;
  background: none;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  outline: none;
  border: none;
  font-family: 'manjari', sans-serif;
  box-shadow: 0px -2px 5px black;
}

.scorelist{
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: stretch;
  font-family: 'Poppins', sans-serif;
}
.scorelist p{
  font-size: 0.9rem;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
  box-shadow: 0px 15px 15px black;
  background: #0a0a0a;

}
.scorelist div{
  font-weight: bold;
}

.scorelist-rank, .scorelist-name,
.scorelist-difficulty, .scorelist-level{
  justify-self: stretch;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
}


.scorelist-rank:nth-child(8n+1),
.scorelist-name:nth-child(8n+2),
.scorelist-difficulty:nth-child(8n+3),
.scorelist-level:nth-child(8n+4){
  background: #0a0a0a;
}

/*End leaderboard styles*/